<div class="user-container flex-column">
  <div class="info-box flex-column">
  <% if @user.photo %>
      <img src="<%= @user.photo %>"/>
  <% else %>
      <p> No image found </p>
  <% end %>
    <h1><%= @user.name %></h1>
    <p class="posts-counter">Number of posts: <span><%= @user.posts_counter %></span></p>
  </div>
</div>