/* index */
.user-container {
  display: flex;
  justify-content: center;
}

.info-box {
  border: 1px solid black;
  padding: 10px 100px;
  margin: 10px 100px;
  background-color: white;
}

.all-btn {
  background-color: lightseagreen;
  color: white;
  border-style: none;
  padding: 5px 20px;
  border-radius: 3px;
  align-self: center;
}

.posts-counter {
  font-weight: bolder;
  align-self: flex-end;
}

.section-title {
  margin: 10px 100px;
}

.info-section {
  display: flex;
  flex-direction: column;
}

/* login */

.login-form {
  align-items: center;
}

.login-form input[type="email"],
.login-form input[type="password"] {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid gray;
  border-radius: 4px;
}
